header, main { width: 100%; box-sizing: border-box; }

header {
  background-image: url('../plugins/bg_lockscreen.png');
  background-repeat:no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 1;
  color: #ffffff;
  /*font-family: 'Arimo', Arial, sans-serif;*/
  font-weight: 300;
  font-size: 10px;
}

header>nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header>nav>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: -17px;
  direction: rtl;
}

header>nav>ul>li {
  direction: ltr;
  font-size: 16px;
  margin: 20px;
}

header>nav>ul>li:hover {
  opacity: .7;
}

header>nav>ul>li>a {
  text-decoration: none;
  color: inherit;
  /*border-bottom: 5px solid transparent;*/
}

header ul li:hover a,
header ul li .active {
  /*color: #ffffff; border-color: white;*/
}

.hamburger {
  display: none;
  width: 45px;
  height: 34px;
  position: absolute;
  right: 20px;
  top: 23px;
  /*transform: translateY(-50%);*/
  border-style: solid none;
  border-width: 6px 0;
  border-color: white;
  background-color: transparent;
  padding: 0;
  opacity: 0.7;
  border-radius: 6px;
  outline: 0;
}

.hamburger::after {
  content: '';
  height: 6px;
  display: block;
  position: relative;
  background-color: white;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger:hover {}



@media (max-width: 1023px) {

/*header nav ul li { margin: 0 10px; }*/

} /* media end*/

@media (max-width: 767px) {

.hamburger {  display: block; }

/*header nav ul { display: none; }*/
/*header nav ul::before { content: ''; display: block; float: right; width: 80px; height: 70px; }*/

/*.hamburger:hover + ul, ul:hover {  display: block; }*/

} /* media end*/

@media (max-width: 640px) {

  .hamburger {
    top: 10px;
    width: 42px;
    height: 27px;
    position: absolute;
    right: 20px;
    border-style: solid none;
    border-width: 5px 0;
    border-color: white;
    background-color: transparent;
    padding: 0;
    opacity: 0.7;
    border-radius: 6px;
  }

  .hamburger::after {
    content: '';
    height: 5px;
    display: block;
    position: relative;
    background-color: white;
  }

  /*header nav { min-height: 50px; }*/
  /*header nav ul li a { padding: 9px 5px 0; height: 50px; }*/

  } /* media end*/
