/*
body, html  {
width:100%;
height:100%;
} TE WARTOŚCI SĄ IMPLEMENTOWANE W RESET.CSS W ZWIąZKU Z PROBLEMAMI Z TINYMCE
*/
* {font-family: 'Open Sans', sans-serif;}
body {
color: #888; font-weight: normal;
font-size: 14px;
background-color: #F5F5F5;
}

li { font-size: 16px; }
input {width: 300px;}
h1,h2,h3,h4,h5,h6 { color: #f55b50;}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

header, main { width: 100%; box-sizing: border-box; }

header { background-color: rgba(51,51,51,0.95); color: #a2b3bf; font-size:1.25em; }
header {
-webkit-box-shadow: 0px -20px 30px 18px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -20px 30px 18px rgba(0,0,0,0.75);
box-shadow: 0px -20px 30px 18px rgba(0,0,0,0.75);
}
header nav {max-width: 1200px; margin: 0 auto; position: relative; min-height: 80px; }
header ul { font-size: 0;   }
header ul li { display: inline-block; margin: 0 20px;  }
header ul li a {
  height: 80px;
  box-sizing: border-box;
  font-size:1.25em;
  padding: 24px 5px 0;
  text-decoration: none;
  color: inherit;
  display: block;
  border-bottom: 5px solid transparent;
}
header ul li:hover a, header ul li .active { color: #ffffff; border-color: white; }

main section { max-width: 1200px; box-sizing: border-box; padding: 30px 10px; margin: 0 auto; }

.hamburger {
  display: none;
  width: 45px;
  height: 34px;
  position: absolute;
  right: 20px;
  top: 23px;
  /*transform: translateY(-50%);*/
  border-style: solid none;
  border-width: 6px 0;
  border-color: white;
  background-color: transparent;
  padding: 0;
  opacity: 0.7;
  border-radius: 6px;
  outline: 0;
}

.hamburger::after {
  content: '';
  height: 6px;
  display: block;
  position: relative;
  background-color: white;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger:hover {}

.ui.selection.dropdown { min-height: 0; }

textarea {
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  padding: .78571429em 1em;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  outline: 0;
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
  display: block;
}

textarea:focus {
  color: rgba(0,0,0,.95);
  border-color: #85B7D9;
  border-radius: .28571429rem;
  background: #FFF;
  box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  -webkit-appearance: none;
}

#main_page [name="urladd"] {
  margin-bottom: 25px;
}


#bookmarks .url_container {
  margin-bottom: 20px;
}

#bookmarks .urladd {
  display: inline-block;
}

#bookmarks .urladd input {
  vertical-align: bottom;
  display: block;
  margin-top: 5px;
}

#bookmarks img {
  display: inline-block;
  border-radius: .28571429rem;
  background-color: black;
  /*background-image: attr(data-src url);*/
  content: '';
  width: 100px;
  height: 100px;
  vertical-align: bottom;
}















@media (max-width: 1023px) {

header nav ul li { margin: 0 10px; }

} /* media end*/

@media (max-width: 767px) {

main section { padding: 10px 0px; margin: 0 auto; }

.hamburger {  display: block; }

header nav ul { display: none; }
header nav ul::before { content: ''; display: block; float: right; width: 80px; height: 70px; }

.hamburger:hover + ul, ul:hover {  display: block; }

} /* media end*/

@media (max-width: 640px) {

.hamburger {
  top: 10px;
  width: 42px;
  height: 27px;
  position: absolute;
  right: 20px;
  border-style: solid none;
  border-width: 5px 0;
  border-color: white;
  background-color: transparent;
  padding: 0;
  opacity: 0.7;
  border-radius: 6px;
}

.hamburger::after {
    content: '';
    height: 5px;
    display: block;
    position: relative;
    background-color: white;
}

header nav { min-height: 50px; }
header nav ul li a { padding: 9px 5px 0; height: 50px; }

} /* media end*/
